---
import Layout from '../layouts/Layout.astro';
import Titlegradient from '../components/Titlegradient.astro';

---

<Layout title="Coder & Maker Society | Contacto">
	
	<main>
		<div class="container">
      <section class="header-title">
        <Titlegradient text='Contacto' gradient='var(--gradient-cyan-green)' selection='var(--color-cyan)'/>
			</section>
		</div>
	
	
	
	
	</main>
</Layout>

<style>
main{
	width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
  margin: 0px auto;
  max-width: 760px;
  padding: 0px 20px;
  background-color:var(--color-dark);
}


</style>