---
import Layout from '../layouts/Layout.astro';
import Carrusel from '../components/Carrusel.astro';
import Verticalcard from '../components/Verticalcard.astro';
import Titlegradient from '../components/Titlegradient.astro';
---

<Layout title="Coder & Maker Society">
	<main>

		<Carrusel></Carrusel>

		<div class="container">

        <section class="header-projects">
        <Titlegradient text='Soluciones Digitales para Impulsar tu Negocio' gradient='var(--gradient-cyan-purple)' selection='var(--color-cyan)'/>
        
        <p class="paragraph">En <strong>Coder & Maker Society</strong>, somos expertos en transformación digital y marketing integrado. Ayudamos a las marcas a crecer y adaptarse en el entorno digital con soluciones personalizadas, desde estrategias de marketing y ventas hasta el desarrollo de plataformas web y automatización de procesos. Nuestra combinación de creatividad y tecnología garantiza resultados medibles que posicionan a tu negocio a la vanguardia del mercado.</p>
        </section>
        
        <div class="cards-container">
        <Verticalcard title='Estrategias de Marketing Digital' href='#' alt='Título de la tarjeta 1' src='/thisisfine.jpg' body='Creamos estrategias digitales personalizadas que maximizan tu visibilidad online, generando tráfico de calidad y aumentando la conversión.' textBagde='Descubre más' gradient='var(--gradient-cyan-purple)'/>

        <Verticalcard title='Desarrollo de Páginas Web y E-commerce' href='#' alt='Título de la tarjeta 2' src='/thisisfine.jpg' body='Diseñamos y desarrollamos plataformas web optimizadas para mejorar la experiencia del usuario y maximizar las conversiones de tu negocio online.' textBagde='Descubre más' gradient='var(--gradient-cyan-purple)'/>
        
        <Verticalcard title='Automatización de Procesos' href='#' alt='Título de la tarjeta 3' src='/thisisfine.jpg' body='Implementamos sistemas de automatización que optimizan tus procesos internos, permitiendo ahorrar tiempo y mejorar la eficiencia operativa.' textBagde='Descubre más' gradient='var(--gradient-cyan-purple)'/>
        
        <Verticalcard title='Gestión de Redes Sociales' href='#' alt='Título de la tarjeta 4' src='/thisisfine.jpg' body='Desarrollamos estrategias de redes sociales que aumentan tu engagement y conectan con tu audiencia a través de contenido relevante y atractivo.' textBagde='Descubre más' gradient='var(--gradient-cyan-purple)'/>
        
        <Verticalcard title='Optimización SEO y SEM' href='#' alt='Título de la tarjeta 5' src='/thisisfine.jpg' body='Mejoramos tu visibilidad en los motores de búsqueda a través de estrategias de SEO y SEM que posicionan tu marca entre los primeros resultados.' textBagde='Descubre más' gradient='var(--gradient-cyan-purple)'/>
        
        <Verticalcard title='Diseño UX/UI' href='#' alt='Título de la tarjeta 6' src='/thisisfine.jpg' body='Creamos experiencias de usuario intuitivas y atractivas que mejoran la interacción del cliente con tu marca y aumentan las conversiones.' textBagde='Descubre más' gradient='var(--gradient-cyan-purple)'/>
        
        <Verticalcard title='Consultoría en Transformación Digital' href='#' alt='Título de la tarjeta 7' src='/thisisfine.jpg' body='Te guiamos en el proceso de digitalización de tu empresa, implementando tecnologías y estrategias que te posicionen a la vanguardia del mercado.' textBagde='Descubre más' gradient='var(--gradient-cyan-purple)'/>
        

        </div>

    </div>
	</main>
</Layout>

<style>
main{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; 
  text-align: center;
  padding: 40px 20px;
  }
  @media (min-width: 768px) {
    .container {
    padding: 60px 30px;
  }
}

@media (min-width: 1024px) {
    .container {
    padding: 80px 40px;
  }
}
.header-projects {
    padding: 60px 0;
    background-color: var(--color-dark);
}

.header-projects .paragraph {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 400;
  color: var(--color-grey);
  /* font-family: Biotif, sans-serif; */
  font-family: "Poppins", sans-serif;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .header-projects .paragraph {
    font-size: 1.5rem;
    margin-bottom: 35px;
  }
}
@media (min-width: 1024px) {

  .header-projects .paragraph {
    font-size: 1.8rem;
    margin-bottom: 40px;
  }
}

strong{
    color: var(--color-ligth);
    font-weight: 500;
}
strong::selection{
  background-color: var(--color-cyan);
  color: var(--color-dark);
}
.header-projects .paragraph::selection{
  background-color: var(--color-cyan);
  color: var(--color-dark);
}
/* Contenedor de tarjetas */
.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas por defecto */
    gap: 1rem; /* Espacio entre tarjetas */
}

/* Ajuste para pantallas grandes */
@media (min-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas grandes */
    }
}

</style>
