---
import Layout from '../layouts/Layout.astro';
import Carrusel from '../components/Carrusel.astro';
import Verticalcard from '../components/Verticalcard.astro';
import Titlegradient from '../components/Titlegradient.astro';
---

<Layout title="Coder & Maker Society">
	<main>

		<Carrusel></Carrusel>

		<div class="container">

        <section class="header-projects">
        <Titlegradient text='Contamos con soluciones en' gradient='var(--gradient-terciary-quaternary)' selection='var(--color-terciary)'/>
        
        <p class="paragraph">En <strong>Coder & Maker Society</strong> desarrollaremos el proyecto adecuado para ti, así podrás posicionarte en el mercado digital y expandir tu empresa o marca personal.</p>
        </section>
        
        <div class="cards-container">
        <Verticalcard title='Título de la tarjeta 1' href='#' alt='Título de la tarjeta 1' src='/thisisfine.jpg' body='Descripción breve de la tarjeta 1.' textBagde='Leer más' gradient='var(--gradient-terciary-quaternary)'/>

        <Verticalcard title='Título de la tarjeta 2' href='#' alt='Título de la tarjeta 2' src='/thisisfine.jpg' body='Descripción breve de la tarjeta 2.' textBagde='Leer más' gradient='var(--gradient-terciary-quaternary)'/>
        
        <Verticalcard title='Título de la tarjeta 3' href='#' alt='Título de la tarjeta 3' src='/thisisfine.jpg' body='Descripción breve de la tarjeta 3.' textBagde='Leer más' gradient='var(--gradient-terciary-quaternary)'/>
        
        <Verticalcard title='Título de la tarjeta 4' href='#' alt='Título de la tarjeta 4' src='/thisisfine.jpg' body='Descripción breve de la tarjeta 4.' textBagde='Leer más' gradient='var(--gradient-terciary-quaternary)'/>
        
        <Verticalcard title='Título de la tarjeta 5' href='#' alt='Título de la tarjeta 5' src='/thisisfine.jpg' body='Descripción breve de la tarjeta 5.' textBagde='Leer más' gradient='var(--gradient-terciary-quaternary)'/>
        
        <Verticalcard title='Título de la tarjeta 6' href='#' alt='Título de la tarjeta 6' src='/thisisfine.jpg' body='Descripción breve de la tarjeta 6.' textBagde='Leer más' gradient='var(--gradient-terciary-quaternary)'/>
        
        <Verticalcard title='Título de la tarjeta 7' href='#' alt='Título de la tarjeta 7' src='/thisisfine.jpg' body='Descripción breve de la tarjeta 7.' textBagde='Leer más' gradient='var(--gradient-terciary-quaternary)'/>
        

        <Verticalcard title='Título de la tarjeta 8' href='#' alt='Título de la tarjeta 8' src='/thisisfine.jpg' body='Descripción breve de la tarjeta 8.' textBagde='Leer más' gradient='var(--gradient-terciary-quaternary)'/>

        </div>

    </div>
	</main>
</Layout>

<style>
main{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: 0px auto;
    max-width: 760px;
    padding: 40px 20px 0px;
    background-color:var(--color-dark);
}
.header-projects {
    text-align: left;
    background-color: var(--color-dark);
}

.header-projects .paragraph {
    margin: 20px 0;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-grey);
    max-width: 700px;
    font-family: Biotif, sans-serif;
}

strong{
    color: var(--color-ligth);
    font-weight: 500;
}
strong::selection{
  background-color: var(--color-terciary);
  color: var(--color-dark);
}
.header-projects .paragraph::selection{
  background-color: var(--color-terciary);
  color: var(--color-dark);
}
/* Contenedor de tarjetas */
.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas por defecto */
    gap: 1rem; /* Espacio entre tarjetas */
}

/* Ajuste para pantallas grandes */
@media (min-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas grandes */
    }
}

</style>
