---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Whyus from '../components/Whyus.astro';
import Services from '../components/Services.astro';
import Proyectoscms from '../components/Proyectoscms.astro';

/* import Footer from '../components/Footer.astro'; */

export const description = "Bienvenido a Coder & Maker Society. Transformamos ideas en realidades digitales mediante soluciones personalizadas de desarrollo web, marketing y automatización de procesos.";
---

<Layout title="Coder & Maker Society" description={description}>
    <main 
        class="bg-petroleo-claro w-full min-h-screen flex flex-col gap-0  box-border scroll-smooth"
        aria-label="Contenido principal del sitio web"
    >
        <Hero />
        <Whyus />
        <Services />
        <Proyectoscms />
    </main>
</Layout>
