---
import Layout from '../layouts/Layout.astro';


---

<Layout title="Coder & Maker Society | Nosotros">
	
	<main>
		<div class="container">
			<section class="header-title">
				<h1 class="title">Founders</h1>
			</section>

			<section class="profile-section">
				<img src="../../public/thisisfine.jpg" alt="Profile image" class="profile-image">
				<p>
						Hey, I'm <strong>Your Name</strong>. I'm the <strong>Founder & CEO</strong> at <strong>Your Company</strong>. I love <strong>dark mode</strong>, open-source, and working on side projects. When I'm not working, I enjoy running, watching movies, and <strong>eating cheese</strong>.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec dapibus leo. Quisque malesuada elit ut lorem hendrerit, sed tempor sapien congue.
						Integer vitae est sit amet purus fermentum tincidunt. Morbi luctus lorem orci, et sollicitudin justo volutpat at.
				</p>
		</section>
		
		<section class="profile-section">
			<img src="../../public/thisisfine.jpg" alt="Profile image" alt="Profile image" class="profile-image">
			<p>
					Hey, I'm <strong>Your Name</strong>. I'm the <strong>Founder & CEO</strong> at <strong>Your Company</strong>. I love <strong>dark mode</strong>, open-source, and working on side projects. When I'm not working, I enjoy running, watching movies, and <strong>eating cheese</strong>.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec dapibus leo. Quisque malesuada elit ut lorem hendrerit, sed tempor sapien congue.
					Integer vitae est sit amet purus fermentum tincidunt. Morbi luctus lorem orci, et sollicitudin justo volutpat at.
			</p>
	</section>
	
		
		
		</div>
	</main>
</Layout>

<style>
	main {
  background-color:151417;
  padding: 50px 20px;
}
.container{
  margin: 0px auto;
  max-width: 760px;
  padding: 0px 20px;
  background-color:#08070b;
}
.header-title {
  text-align: left;
  background-color: #08070b;
}
.header-title .title {
  font-family: Neuzeit Grotesk Bold, sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 50px;
  margin: 0 0 20px;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(135deg, #ffff80 0%, #ff80bf 100%);
}

.profile-section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.profile-image {
    width: 350px;
    float: left; /* Hace que la imagen flote a la izquierda */
    margin-right: 1rem; /* Añade espacio entre la imagen y el texto */
    margin-bottom: 1rem;
    border-radius: 15px; /* Esquinas redondeadas */
}

p {
		font-size: 16px;
  	line-height: 32px;
  	color: #8f9ba8;
}
strong{
  color: #f2f2f2;
  font-weight: 500;
}

@media (max-width: 768px) {
    .profile-image {
        float: none; /* Evita el flotado en pantallas pequeñas */
        display: block;
        margin: 0 auto 1rem; /* Centra la imagen y añade espacio debajo */
    }
}
</style>