---
import Layout from '../layouts/Layout.astro';
import Titlegradient from '../components/Titlegradient.astro';
import Founder from '../components/Founder.astro';
---

<Layout title="Coder & Maker Society | Nosotros">
	
	<main>
		<div class="container">
			<section class="header-title">
        <Titlegradient text='Founders' gradient='var(--gradient-quintary-terciary)' selection='var(--color-quintary)'/>
			</section>

      <Founder src='/thisisfine.jpg' alt='Founder 1'>
        Hey, I'm <strong>Founder 1</strong>. I'm the <strong>Founder & CEO</strong> at <strong>Your Company</strong>. I love <strong>dark mode</strong>, open-source, and working on side projects. When I'm not working, I enjoy running, watching movies, and <strong>eating cheese</strong>.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec dapibus leo. Quisque malesuada elit ut lorem hendrerit, sed tempor sapien congue.
						Integer vitae est sit amet purus fermentum tincidunt. Morbi luctus lorem orci, et sollicitudin justo volutpat at.
      </Founder>

      <Founder src='/thisisfine.jpg' alt='Founder 2'>
        Hey, I'm <strong>Founder 2</strong>. I'm the <strong>Founder & CEO</strong> at <strong>Your Company</strong>. I love <strong>dark mode</strong>, open-source, and working on side projects. When I'm not working, I enjoy running, watching movies, and <strong>eating cheese</strong>.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec dapibus leo. Quisque malesuada elit ut lorem hendrerit, sed tempor sapien congue.
						Integer vitae est sit amet purus fermentum tincidunt. Morbi luctus lorem orci, et sollicitudin justo volutpat at.
      </Founder>
			
	
		</div>
	</main>
</Layout>

<style>
  main {
    background-color:var(--color-dark);
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 50px 20px;
}

.container{
  margin: 0px auto;
  max-width: 760px;
  padding: 0px 20px;
  background-color:var(--color-dark);
}


.profile-section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

strong{
  color: var(--color-ligth);
  font-weight: 500;
}
strong::selection{
  background-color: var(--color-quintary);
  color: var(--color-dark);
}

@media (max-width: 768px) {
    .profile-image {
        float: none; /* Evita el flotado en pantallas pequeñas */
        display: block;
        margin: 0 auto 1rem; /* Centra la imagen y añade espacio debajo */
    }

}
</style>