---
import Layout from '../layouts/Layout.astro';
import Titlegradient from '../components/Titlegradient.astro';
import Founder from '../components/Founder.astro';
---

<Layout title="Coder & Maker Society | Nosotros">
	
	<main>
		<div class="container">
			<section class="header-title">
        <Titlegradient text='El Talento Clave Detrás de Tu Transformación Digital' gradient='var(--gradient-quintary-terciary)' selection='var(--color-quintary)'/>
			</section>

      <Founder src='/thisisfine.jpg' alt='Founder 1'>
          <strong>Arturo – Estratega de Marketing Digital y Ventas</strong>Arturo es un estratega apasionado del marketing digital con más de <strong>[X] años de experiencia</strong> ayudando a empresas a crecer en el mundo digital. Es el experto en <strong>estrategias de ventas y campañas de marketing</strong> en <strong>Coder & Maker Society</strong>, donde trabaja para potenciar la presencia online de nuestros clientes.Su enfoque principal es diseñar . 
      </Founder>
      

      <Founder src='/thisisfine.jpg' alt='Founder 2'>
        <strong>José – Desarrollador Web y Especialista en Automatización</strong><br>
  Apasionado por la <strong>tecnología</strong> y la <strong>innovación</strong>, José es el encargado de llevar a cabo las soluciones tecnológicas más <strong>avanzadas y personalizadas</strong> para cada cliente. Con una amplia experiencia en el desarrollo de <strong>aplicaciones web</strong> y la implementación de <strong>sistemas automatizados</strong>, su trabajo se enfoca en <strong>optimizar procesos</strong> y crear plataformas que no solo sean visualmente atractivas, sino también <strong>eficientes</strong> y <strong>funcionales</strong>.José ha liderado proyectos en los que la <strong>automatización de tareas</strong> y la <strong>integración de herramientas tecnológicas</strong> han permitido a las empresas <strong>ahorrar tiempo y recursos</strong>, mejorando la <strong>eficiencia operativa</strong> y la <strong>escalabilidad</strong> de sus negocios. Su enfoque siempre está centrado en el <strong>usuario final</strong>, garantizando que cada solución sea <strong>intuitiva</strong> y fácil de usar, mientras maximiza el <strong>rendimiento</strong>.Cuando no está escribiendo código, José está explorando las <strong>últimas tendencias tecnológicas</strong>, siempre buscando formas de implementar <strong>soluciones innovadoras</strong> que impulsen el <strong>crecimiento de las marcas</strong>. Su misión es <strong>transformar digitalmente</strong> cada negocio con <strong>tecnología</strong> que haga la vida más fácil para los clientes y sus equipos.
      </Founder>
			
	
		</div>
	</main>
</Layout>

<style>
main{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; 
  text-align: center;
  
  }
  @media (min-width: 768px) {
  main {
    padding: 60px 30px;
  }
}

@media (min-width: 1024px) {
  main {
    padding: 80px 40px;
  }
}

.container{
  
  background-color:var(--color-dark);
}

strong{
  color: var(--color-ligth);
  font-weight: 500;
}
strong::selection{
  background-color: var(--color-quintary);
  color: var(--color-dark);
}


</style>