---
import Layout from '../layouts/Layout.astro';
import Verticalcard from '../components/Verticalcard.astro';
import Titlegradient from '../components/Titlegradient.astro';

export const description = "Descubre los proyectos personalizados de Coder & Maker Society. Soluciones digitales innovadoras diseñadas para transformar marcas y maximizar su impacto.";
---

<Layout title="Coder & Maker Society | Proyectos" description={description}>
	
	<main >
    <div class="container">
    <section class="header-projects">

        <Titlegradient text='Proyectos personalizados que transforman marcas' gradient='var(--gradient-pink-orange)' selection='var(--color-pink)'/>

        <p class="paragraph" ><strong>Coder & Maker Society</strong>, transforma ideas en realidades digitales. Cada proyecto que desarrollamos está pensado para resolver necesidades específicas y maximizar el crecimiento de nuestros clientes. Desde el diseño inicial hasta la implementación final, nos aseguramos de que cada detalle cuente.</p>
        
    </section>
    
    <ul role="list" class="link-card-grid">
        <Verticalcard title='HabitacionMichi - Albergue' href='#' alt='Título de la tarjeta 1' src='/imgdosauno.svg' body='Transformamos el sitio web de un albergue de gatitos en una experiencia única y escalable.' textBagde='Mas Informacion' gradient='var(--gradient-pink-orange)' color='var(--color-pink)'/>

        <Verticalcard title='SkinClean - Laboratorio' href='#' alt='Título de la tarjeta 1' src='/imgdosauno.svg' body='Automatizamos el proceso de generación de acuerdos de confidencialidad con un solo clic' textBagde='Mas Informacion' gradient='var(--gradient-pink-orange)' color='var(--color-pink)'/>

        <Verticalcard title='Laser - Laboratorio Serológico' href='#' alt='Título de la tarjeta 1' src='/imgdosauno.svg' body='Diseñamos una web optimizada para potenciar su presencia online y atraer más clientes.' textBagde='Mas Informacion' gradient='var(--gradient-pink-orange)' color='var(--color-pink)'/>

        <Verticalcard title='TM - Distribuidora de Empaques' href='#' alt='Título de la tarjeta 1' src='/imgdosauno.svg' body='Creamos una ecommerce personalizada para ventas al por mayor, optimizando sus procesos y ventas' textBagde='Mas Informacion' gradient='var(--gradient-pink-orange)' color='var(--color-pink)'/>


    </ul>

    </div>
    
    

</main>

</Layout>

<style>
  main{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; 
  text-align: center;

  }
  @media (min-width: 768px) {
  main {
    padding: 60px 30px;
  }
}

@media (min-width: 1024px) {
  main {
    padding: 80px 40px;
  }
}
/* main {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 50px 20px;
} */
.container{
  
  background-color:var(--color-dark);
}
.header-projects {
  padding: 10px 0;
  background-color: var(--color-dark);
}

.header-projects .paragraph {
  text-align: center;
  margin-bottom: 25px;
  font-size: 0.875rem;
  line-height: 1.6rem;
  font-weight: 300;
  color: var(--color-grey);
  /* font-family: Biotif, sans-serif; */
  font-family: "Poppins", sans-serif;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .header-projects .paragraph {
    font-size: 1.125rem;
    line-height: 1.9rem;
    margin-bottom: 35px;
  }
}
@media (min-width: 1024px) {

  .header-projects .paragraph {
    font-size: 1.25rem;
    line-height: 2.1rem;
    margin-bottom: 40px;
  }
}

strong{
  color: var(--color-ligth);
  font-weight: 500;
}
strong::selection{
  background-color: var(--color-pink);
  color: var(--color-dark);
}
.header-projects .paragraph::selection{
  background-color: var(--color-pink);
  color: var(--color-dark);
}
/* Grilla actualizada para pantallas más pequeñas */
.link-card-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
	gap: 1.5rem;
	padding: 0;
}

/* Ajuste de la grilla en pantallas pequeñas */
@media (max-width: 780px) {
	.link-card-grid {
		grid-template-columns: repeat(2, 1fr); /* Dos columnas con tamaños iguales */
		gap: 1rem;
	}
}

/* Ajuste de la grilla en pantallas muy pequeñas */
@media (max-width: 480px) {
	.link-card-grid {
		grid-template-columns: 1fr; /* Una sola columna */
		gap: 0.5rem;
	}
}


</style>