---
import Layout from '../layouts/Layout.astro';
import Verticalcard from '../components/Verticalcard.astro';
import Titlegradient from '../components/Titlegradient.astro';
---

<Layout title="Coder & Maker Society | Proyectos">
	
	<main >
    <div class="container">
    <section class="header-projects">

        <Titlegradient text='Proyectos personalizados que transforman marcas' gradient='var(--gradient-pink-orange)' selection='var(--color-pink)'/>

        <p class="paragraph"><strong>Coder & Maker Society</strong>, transforma ideas en realidades digitales. Cada proyecto que desarrollamos está pensado para resolver necesidades específicas y maximizar el crecimiento de nuestros clientes. Desde el diseño inicial hasta la implementación final, nos aseguramos de que cada detalle cuente.</p>
        
    </section>
    
    <div class="cards-container">
        <Verticalcard title='Estrategia de Marketing Integral para E-commerce' href='#' alt='Título de la tarjeta 1' src='/thisisfine.jpg' body='Desarrollamos una estrategia de marketing digital para [nombre del cliente], implementando campañas de SEO, SEM y redes sociales que aumentaron las ventas en un 30%.' textBagde='Ver proyecto' gradient='var(--gradient-pink-orange)'/>

        <Verticalcard title='Automatización de Procesos Internos para una Empresa de Logística' href='#' alt='Título de la tarjeta 2' src='/thisisfine.jpg' body='Implementamos un sistema de automatización que optimizó los procesos de seguimiento de envíos, mejorando la eficiencia operativa y reduciendo los costos en un 20%.' textBagde='Ver proyecto' gradient='var(--gradient-pink-orange)'/>
        
        <Verticalcard title='Optimización SEO para una Marca de Moda' href='#' alt='Título de la tarjeta 3' src='/thisisfine.jpg' body='Mejoramos el posicionamiento orgánico de [nombre del cliente] mediante una estrategia SEO, que aumentó el tráfico orgánico en un 40% y las ventas en línea en un 25%' textBagde='Ver proyecto' gradient='var(--gradient-pink-orange)'/>
        
        <Verticalcard title='Consultoría de Transformación Digital para una Empresa Tradicional' href='#' alt='Título de la tarjeta 4' src='/thisisfine.jpg' body='Acompañamos a [nombre del cliente] en su proceso de transformación digital, modernizando su infraestructura tecnológica y capacitando a su equipo en herramientas digitales.' textBagde='Ver proyecto' gradient='var(--gradient-pink-orange)'/>
        
        <Verticalcard title='Desarrollo de Tienda Online para una Marca de Alimentos' href='#' alt='Título de la tarjeta 5' src='/thisisfine.jpg' body='Creación de una tienda online para [nombre del cliente], con un diseño atractivo y optimización para móviles, lo que resultó en un incremento del 35% en sus ventas digitales.' textBagde='Ver proyecto' gradient='var(--gradient-pink-orange)'/>
        
        

    </div>

    </div>
    
    

</main>

</Layout>

<style>
  main{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; 
  text-align: center;

  }
  @media (min-width: 768px) {
  main {
    padding: 60px 30px;
  }
}

@media (min-width: 1024px) {
  main {
    padding: 80px 40px;
  }
}
/* main {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 50px 20px;
} */
.container{
  
  background-color:var(--color-dark);
}
.header-projects {
  padding: 10px 0;
  background-color: var(--color-dark);
}

.header-projects .paragraph {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 400;
  color: var(--color-grey);
  /* font-family: Biotif, sans-serif; */
  font-family: "Poppins", sans-serif;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .header-projects .paragraph {
    font-size: 1.5rem;
    margin-bottom: 35px;
  }
}
@media (min-width: 1024px) {

  .header-projects .paragraph {
    font-size: 1.8rem;
    margin-bottom: 40px;
  }
}

strong{
  color: var(--color-ligth);
  font-weight: 500;
}
strong::selection{
  background-color: var(--color-pink);
  color: var(--color-dark);
}
.header-projects .paragraph::selection{
  background-color: var(--color-pink);
  color: var(--color-dark);
}
/* Contenedor de tarjetas */
.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas por defecto */
    gap: 1rem; /* Espacio entre tarjetas */
}

/* Ajuste para pantallas grandes */
@media (min-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas grandes */
    }
}


</style>