---
interface Props{
  text: string;
  background: string;
  colorText: string;

}
const {text, background, colorText} = Astro.props;
---


<span class="badge__minimalista" style={`--color-background: ${background};--color-text: ${colorText};--color-border: ${background};`}>{text}</span>

<style>

.badge__minimalista { 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  font-size: clamp(0.8rem, 1vw + 0.5rem, 1rem); /* Tamaño responsive del texto */
  font-weight: 500;
  border-radius: 12px;
  line-height: 1;
  white-space: nowrap;
  transition: background-color 0.3s ease, color 0.3s ease;
  background: var(--color-background); 
  color: var(--color-text); 
  border:1px solid var(--color-background); 
}
</style>