---
---

<div id="servicios" class="bg-petroleo text-white w-full py-24 px-4 md:px-16">
  <section class="max-w-5xl mx-auto space-y-20">
    <!-- Primera seccion -->
    <div class="flex flex-col md:flex-row items-start md:items-center gap-4">
  
      <!-- Título con Imagen Decorativa -->
      <div class="relative inline-block bg-[#75f751] text-[#00303C] py-6 px-12 rounded-md rotate-[-7deg] shadow-md">
        <span class="absolute w-4 h-4 bg-[#00303C] rounded-full top-3 left-3"></span>
        <h2 class="text-5xl md:text-6xl font-bold leading-tight">
          Hacemos lo que<br> 
          <span class="inline-block">necesitas</span>
        </h2>
      </div>
    
      <!-- Subtítulo -->
      <p class="text-3xl text-white md:ml-6">
        - destaca en el mundo digital
      </p>
    </div>

    <!-- Segunda sección: Tarjetas de Servicios -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-20">
      
      <div class="w-3/5 relative bg-white text-[#00303C] p-6 rounded-xl shadow-lg rotate-[-6deg]">
        <span class="absolute w-11 h-11 -top-[1.1px] -right-[1.1px] bg-[linear-gradient(to_bottom_left,#00303c_50%,#75f751_50%)]
         rounded-bl-md "></span>
        <img 
      src="/coder-and-maker-society-ux-ui.png" 
      alt="Icono decorativo"
      class="absolute w-16 h-16 top-[-20px] left-[-20px]"
    />
        <h3 class="text-3xl font-bold text-center">UX/UI Design</h3>
      </div>

      <div class="w-1/2 relative bg-white text-[#00303C] p-6 rounded-xl shadow-lg rotate-[5deg]">
        <span class="absolute w-11 h-11 -top-[1.1px] -right-[1.1px] bg-[linear-gradient(to_bottom_left,#00303c_50%,#F466FF_50%)]
         rounded-bl-md "></span>
        <img 
      src="/coder-and-maker-society-branding.png" 
      alt="Icono decorativo"
      class="absolute w-16 h-16 top-[-20px] left-[-20px]"
    />
        <h3 class="text-3xl font-bold text-center">Branding</h3>
      </div>

      <div class="w-3/4 relative bg-white text-[#00303C] p-6 rounded-xl shadow-lg rotate-[2deg]">
        <span class="absolute w-11 h-11 -top-[1.1px] -right-[1.1px] bg-[linear-gradient(to_bottom_left,#00303c_50%,#FFBB3C_50%)]
         rounded-bl-md "></span>
        <img 
      src="/coder-and-maker-society-marketing-digital.png" 
      alt="Icono decorativo"
      class="absolute w-16 h-16 top-[-20px] left-[-20px]"
    />
        <h3 class="text-3xl font-bold text-center">Marketing digital</h3>
      </div>

      <div class="w-4/5 relative bg-white text-[#00303C] p-6 rounded-xl shadow-lg rotate-[-5deg]">
        <span class="absolute w-11 h-11 -top-[1.1px] -right-[1.1px] bg-[linear-gradient(to_bottom_left,#00303c_50%,#833bf4_50%)]
         rounded-bl-md "></span>
        <img 
      src="/coder-and-maker-society-soluciones-digitales.png" 
      alt="Icono decorativo"
      class="absolute w-16 h-16 top-[-20px] left-[-20px]"
    />
        <h3 class="text-3xl font-bold text-center">Soluciones digitales</h3>
      </div>

    </div>

  </section>
</div>
