---
interface Props {
  text: string;
  background?: string;
  colorText?: string;
  rotation?: string;
}
const { text = 'Texto por defecto', background = '#F196E4', colorText = '#FFFFFF', rotation = '-10deg' } = Astro.props as Props;
---

<div class="relative w-max">
  <div 
    class=`inline-block px-16 py-1 text-[48px] font-bold rounded-lg shadow-md`
    style={`background-color: ${background}; color: ${colorText}; transform: rotate(${rotation});`}
  >
    <span class="absolute w-11 h-11 -top-[1.1px] -right-[1.1px] bg-[linear-gradient(to_bottom_left,#013947_50%,#fff_50%)]
         rounded-bl-md "></span>
    {text}
  </div>
</div>
