---
interface Props {
  text:string;
  gradient:string;
  selection:string;
}

const {text,gradient,selection} = Astro.props;
---

<h1 class="title" style={`--card-gradient: ${gradient};--card-selection:${selection}`}>{text}</h1>

<style>
  .title {
  text-align: center;
  /* font-family: Neuzeit Grotesk Bold, sans-serif; */
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 15px;
  color: transparent;
  background-clip: text;
  background-image: var(--card-gradient);
  }
  .title::selection {
    background-color: var(--card-selection); /* Color de fondo de la selección */
    color: var(--color-dark); /* Color del texto cuando está seleccionado */
  }
  @media (min-width: 768px) {
  .title {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  }
  @media (min-width: 1024px) {
  .title {
    font-size: 4rem;
    margin-bottom: 30px;
  }
  }

</style>