---
import Buttoncontactanos from "./Buttoncontactanos.astro";
---

<div id="por-que-cms" class="bg-[#00303C] text-white w-full py-16 px-4 md:px-16">
  <section class="max-w-5xl mx-auto grid md:grid-cols-2 gap-20">

        <!-- Sección Introducción (Ahora a la derecha) -->
        <div class="flex flex-col justify-center text-center md:text-left space-y-6">
          <h2 class="text-[64px] md:text-8xl font-bold">¿Por qué CMS?</h2>
          <ul class="text-4xl list-none space-y-2">
            <li>eficientes</li>
            <li>eficaces</li>
            <li>efervescentes</li>
          </ul>
          <div class="w-full">
            <Buttoncontactanos />
          </div>
        </div>

    <!-- Sección Cards (Ahora a la izquierda) -->
    <div class="flex flex-col gap-1">
      <!-- Card 1 -->
      <div class="relative bg-white text-petroleo rounded-xl p-8  shadow-xl transform rotate-[-6deg] w-full z-30">
        <div class="mb-4">
          <span class="text-5xl font-extrabold font-nunito">4</span>
          <span class="absolute w-11 h-11 -top-[1.1px] -right-[1.1px] bg-[linear-gradient(to_bottom_left,#00303c_50%,#75f751_50%)]
         rounded-bl-md "></span>
        </div>
        <h3 class="text-3xl font-bold mb-2">Profesionales</h3>
        <p class="text-lg">
          de perfil interdisciplinario con un enfoque que integra la comunicación y el marketing con las plataformas digitales.
        </p>
      </div>
      <!-- Card 2 -->
      <div class=" relative bg-white text-petroleo rounded-xl p-8  shadow-lg transform rotate-[2deg] w-full z-20">
        <div class=" mb-4">
          <span class="text-5xl font-extrabold  font-nunito">+10</span>
          <span class="absolute w-11 h-11 -top-[1.1px] -right-[1.1px] bg-[linear-gradient(to_bottom_left,#00303c_50%,#833bf4_50%)]
         rounded-bl-md "></span>
        </div>
        <h3 class="text-3xl font-bold mb-2">Años de experiencia</h3>
        <p class="text-lg">
          en empresas y agencias vinculadas al marketing digital y al desarrollo de proyectos web.
        </p>
      </div>
      <!-- Card 3 -->
      <div class="relative bg-white text-petroleo rounded-xl p-8  shadow-lg transform rotate-[8deg] w-full z-10">
        <div class=" mb-4">
          <span class="text-5xl font-extrabold  font-nunito">+60</span>
          <span class="absolute w-11 h-11 -top-[1.1px] -right-[1.1px] bg-[linear-gradient(to_bottom_left,#00303c_50%,#FFBB3C_50%)]
         rounded-bl-md "></span>
        </div>
        <h3 class="text-3xl font-bold mb-2">Proyectos entregados</h3>
        <p class="text-xl">
          para el desarrollo comercial y comunicacional de empresas e instituciones de todo nivel.
        </p>
      </div>

    </div>



  </section>
</div>
