---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="En Coder & Maker Society, ofrecemos soluciones creativas y tecnológicas para transformar tu negocio. Especialistas en marketing digital, desarrollo web, y automatización para impulsar el crecimiento de tu empresa.">
		<meta name="keywords" content="transformación digital, marketing integrado, desarrollo web, automatización de procesos, SEO, agencia digital, marketing digital, soluciones tecnológicas, Coder & Maker Society, Lima, crecimiento empresarial">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="robots" content="index, follow">
  	<meta name="googlebot" content="index, follow">
		<!-- Open Graph para redes sociales -->
		<meta property="og:title" content="Coder & Maker Society | Transformación Digital y Marketing Integrado">
		<meta property="og:description" content="Descubre cómo Coder & Maker Society puede ayudar a tu empresa a crecer con estrategias de marketing digital, desarrollo web personalizado y automatización de procesos.">
		<meta property="og:image" content="/thisisfine.jpg"> <!-- Reemplaza con una URL real de la imagen -->
		<meta property="og:url" content="https://coderandmakersociety.vercel.app/">
		<meta property="og:type" content="website">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="google-site-verification" content="MziGBEXPVxC8B3Tax86xK2E07_yW6CC_nGwJVLVmJyw" />
		<title>{title}</title>
	</head>

	<body>
		<Header></Header>
		<slot />
	</body>

</html>

<style is:global>
	:root {
    --color-dark: #08070b;
    --color-grey: #8f9ba8;
    --color-ligth: #f2f2f2;
    --color-primary :#80ffea;
    --color-secundary:#8aff80;
		--color-terciary:#ff80bf;
		--color-quaternary:#9580ff;
		--color-quintary:#ffff80;
    --gradient-primary-secundary:linear-gradient(135deg, var(--color-primary) 0%, var(--color-secundary) 100%);
		--gradient-terciary-quaternary:linear-gradient(135deg, var(--color-terciary) 0%, var(--color-quaternary) 100%);
		--gradient-quintary-terciary:linear-gradient(135deg, var(--color-quintary) 0%, var(--color-terciary) 100%);
  }
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--color-dark);
  color: var(--color-ligth);
	
	}
</style>

