---
interface Props {
	title: string;
	description?: string;
  keywords?: string;
  image?: string;
  url?: string;
}

const { title,description, keywords, image, url } = Astro.props;


import HeaderCMS from '../components/HeaderCMS.astro';
import Contactocms from '../components/Contactocms.astro';

import { ClientRouter } from 'astro:transitions';

---

<!doctype html>
<html lang="en" >

	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<!-- etiquetas meta -->
		<meta name="description" content={description || "Bienvenido a Coder & Maker Society. Transformamos ideas en realidades digitales mediante soluciones personalizadas de desarrollo web y transformación digital."} />
		
		<meta name="keywords" content="transformación digital, marketing integrado, desarrollo web, automatización de procesos, SEO, agencia digital, marketing digital, soluciones tecnológicas, Coder & Maker Society, Lima, crecimiento empresarial">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="robots" content="index, follow">
  	<meta name="googlebot" content="index, follow">
		<!-- Open Graph para redes sociales -->
		<meta property="og:title" content="Coder & Maker Society | Transformación Digital y Marketing Integrado">
		<meta property="og:description" content="Descubre cómo Coder & Maker Society puede ayudar a tu empresa a crecer con estrategias de marketing digital, desarrollo web personalizado y automatización de procesos.">
		<meta property="og:image" content="/thisisfine.jpg"> <!-- Reemplaza con una URL real de la imagen -->
		<meta property="og:url" content="https://coderandmakersociety.vercel.app/">
		<meta property="og:type" content="website">

		<link rel="icon" type="image/svg+xml" href="/isotipo-cms-blanco.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="google-site-verification" content="MziGBEXPVxC8B3Tax86xK2E07_yW6CC_nGwJVLVmJyw" />
		<!-- poppins -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<!-- font awesome -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/src/styles/global.css" />
		<ClientRouter />
		
	</head>

	<body >
		<HeaderCMS></HeaderCMS>
		
		<slot />
		
		<Contactocms></Contactocms>
	</body>

</html>

<style is:global>
	:root {
    /* --color-dark: #08070b; */
		--color-dark: #08070b;
    --color-grey: #8f9ba8;
    --color-ligth: #f2f2f2;
    --color-cyan :#80ffea;
    --color-green:#8aff80;
		--color-pink:#ff80bf;
		--color-purple:#9580ff;
		--color-yellow:#ffff80;
    --color-red: #ff9580;
    --color-orange: #ffca80;

	
    --gradient-cyan-purple:linear-gradient(135deg, var(--color-purple) 0%, var(--color-cyan) 100%);
		--gradient-pink-orange:linear-gradient(135deg, var(--color-pink) 0%, var(--color-orange) 100%);
		--gradient-green-yellow:linear-gradient(135deg, var(--color-green) 0%, var(--color-yellow) 100%);
		--gradient-cyan-green:linear-gradient(135deg, var(--color-cyan) 0%, var(--color-green) 100%);
		--gradient-multicolor: linear-gradient(135deg, 
    var(--color-purple) 0%, 
     
    var(--color-pink) 50%, 
     
    var(--color-yellow) 100%)
		;

  }

	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
	font-family: "Arista Pro", sans-serif;
  background-color: #00303c;
  color: var(--color-ligth);
	font-size: 16px;
	}
	
</style>

